@page "/classreview"

<h1>Procedural/Functional Approach</h1>
<br />
<p> <font size="+1"> Procedural programming uses the top-down approach, relying on routines to tell the computer what to do, step-by-step. </font> </p>
<br />
<h1>Object Oriented Approach</h1>
<br />
<p> <font size="+1"> Object oriented programming is mroe about encapusulating data and behavior into objects. </font> </p>
<br />
<br />
<h1>Visibility Inheritance Model</h1>
<br />
<p> <font size="+1"> Within this model are three types of visiblity: public, protected, and private. </font> </p>
<p> <font size="+1"> Public visibility means it's open to all and any class can access it. </font> </p>
<p> <font size="+1"> Protected visibility means it's open only to the derived class. </font> </p>
<p> <font size="+1"> Private visibility means that it's not to be opened by any other class, even derived. </font> </p>
<br />
<br />
<h1>Polymorphism</h1>
<br />
<p> <font size="+1">Polymorphism relies on inheritance that allows one entity to behave differently.</font> </p>
<br />
<br />