@page "/"

<h1>Hello, I am O.O.F, and Orginial Ostentatious Fault-finder</h1>
<br />
<p><font ="+2">I am aware my name is unique, my creator ripped it off a random acronym generator.</font></p>
<br />
